@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --orange:#ff7800;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
  --border:.2rem solid rgba(0,0,0,.1);
  --outline:.1rem solid rgba(0,0,0,.1);
  --outline-hover:.2rem solid var(--black);
}

*{
  font-family: 'Montserrat', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: #76b852; /* fallback for old browsers */
  background: rgb(141,194,111);
  background: linear-gradient(90deg, rgb(142, 194, 112) 0%, #76b852 50%);
  background: #eee;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  color:var(--black);
  cursor: pointer;
  background: none;
}


.btn:hover{
  background:var(--orange);
  color:#fff;
}
.header{
  position: fixed;
  top:0; left:0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
  background:#fff;
  box-shadow: var(--box-shadow);
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:var(--black);
}

.header .logo i{
  color:var(--orange);
}

.header .navbar a{
  font-size: 1.7rem;
  margin:0 1rem;
  color:var(--black);
}

.header .navbar a:hover{
  color:var(--orange);
}

.header .icons div{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #eee;
  color:var(--black);
  font-size: 2rem;
  margin-left: .3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover{
  background: var(--orange) ;
  color:#fff
}

#menu-btn{
  display: none;
}

.header .search-form{
  position: absolute;
  top:110%; right:-110%;
  width: 50rem;
  height:5rem;
  background: #fff;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.header .search-form input{
  height:100%;
  width:100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color:var(--black);
  padding:0 1.5rem;
}

.header .search-form label{
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color:var(--black);
  cursor: pointer;
}

.header .search-form label:hover{
  color:var(--orange);
}

.header .search-form.active{
  right:2rem;
  transition: .4s linear;
}

.header .shopping-cart{
  position: absolute;
  top:110%; right:-110%;
  padding:1rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width:35rem;
  background: #fff;
}

.header .shopping-cart.active{
  right:2rem;
  transition: .4s linear;
}

.header .shopping-cart .box{
  display:flex;
  align-items: center;
  gap:1rem;
  position:relative;
  margin:1rem 0;
}

.header .shopping-cart .box img{
  height:10rem;
}

.header .shopping-cart .box .fa-trash{
  font-size:2rem;
  position: absolute;
  top:50%; right:2rem;
  cursor:pointer; 
  color:var(--light-color);
  transform:translateY(-50%)
}

.header .shopping-cart .box .fa-trash:hover{
  color:var(--orange)
}

.header .shopping-cart .box .content h3{
  color:var(--black);
  font-size:1.7rem;
  padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
  color:var(--light-color);
  font-size:1.6rem;
}

.header .shopping-cart .box .content .quantity{
  padding-left: 1rem;
}

.header .shopping-cart .total{
  font-size: 2.5rem;
  padding:1rem 0;
  text-align: center;
  color:var(--black);
}

.header .shopping-cart .btn{
  display:block;
  text-align: center;
  margin:1rem;
}







.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

.loginBackground {
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}

.signUpPageBackGround {
  background-image: linear-gradient( 90deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );

}

.column {
  height:auto;
  margin: 0px 25px;
  border: 1px solid #EEEEEE;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  max-width:75%;
  padding: 35px;
  margin:auto;
}

.buttonUnderPic {
  text-align: center;
  padding: 15px;
}

button.SignoutButton {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 7px 50px;
  min-height: 36px;
  min-width: 36px;
  color: #ffffff;
  background: #599c35;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

button.SignoutButton:hover {
  background:#DE3700;
  transition: all ease 0.3s;
}

button.buyingButton {
  display: inline-block;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #54c2e0 0%, #76b852 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 12px;
  color: #ffffff;
  height: 30px;
  font-size: 1rem;
  font-weight: 500px;
  letter-spacing:0.5px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}

button.buyingButton:hover {
  border:2px solid #fff;
  transition: all ease 0.05s;
}

.logo{
  font-size:1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #202020;
}

.logo span {
  color: #DE3700
}

.right-nav{
  display: grid;
  grid-template-columns:auto auto;
  grid-gap:25px;
}




















@media(max-width:991px){

  html{
    font-size:55%;
  }

  .header{
    padding:2rem;
  }
}

@media(max-width:768px){

  #menu-btn{
    display:inline-block;
  }

  .header .search-form{
    width:90%
  }
  .header .navbar{
    position:absolute;
    top:110%; right: -110%;
    width:30rem;
    box-shadow: var(--box-shadow);
    border-radius:.5rem;
    background: #fff;
  }

  .header .navbar.active{
    right:2rem;
    transition: .4s linear;
  }
  .header .navbar a{
    font-size:2rem;
    margin:2rem 2.5rem;
    display:block;
  }
}




@media(max-width:450px){

  html{
    font-size:50%;
  }
}





